@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans&family=Nunito&family=Arizonia&family=Encode+Sans+Expanded&family=Economica&display=swap');
:root {
	--client-height: 0;
	--page-navigation-height: 0;
	--page-logo-height: 0;
	--pages-height: calc(var(--client-height) - var(--page-navigation-height));
	--pagenav-slide-height: 0;
	--footer-height: 0;
	--pages-width: 100%;
	--text-padding: 4vh;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
	width: 100vw;
	height: var(--client-height);
	min-width: 100vw;
	min-height: var(--client-height);
	overflow: hidden;
}
body {
	width: 100%;
	height: 100%;
	min-height: inherit;
	color: #ffffff;
	background-color: #2f2e41;
	overflow: inherit;
	position: relative;
	overscroll-behavior: none;
}
body.showFooter #links-and-info {
	transform: translateY(var(--pagenav-slide-height));
}
body.showFooter #links-and-info #link-navigation {
	background-color: #e6e6e6b3;
}
body.showFooter .footer-toggler .icon {
	transform: rotate(180deg);
}
body.showFooter .menu-toggler {
	visibility: hidden;
}
body.homepage {
	background-color: #2e8b57;
}
body.aboutme {
	background-color: #cd853f;
}
body.projects {
	background-color: #da70d6;
}
.background {
	display: none;
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	background-size: cover;
	mix-blend-mode: luminosity;
	z-index: -1;
}
#wrapper {
	display: contents;
}
h1 {
	font-size: 2rem;
	font-family: 'Caveat', cursive;
	text-shadow: 5px 5px 4px rgb(0, 0, 0, 0.5);
	padding: 2rem 2.5rem;
	padding-left: var(--text-padding);
	padding-bottom: var(--text-padding);
}
h2,
h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	text-shadow: 5px 5px 4px rgb(0, 0, 0, 0.5);
	padding: 2em 2.5em;
	padding-left: var(--text-padding);
	padding-bottom: var(--text-padding);
}
p {
	font-size: 1rem;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.5em;
	padding: var(--text-padding);
}
a,
button {
	text-decoration: none;
	cursor: pointer;
}
a:hover,
a:active {
	text-decoration: underline;
}
ul {
	list-style-type: none;
}
::-webkit-scrollbar {
	background-color: inherit;
	max-width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #00000066;
}
#links-and-info::-webkit-scrollbar {
	display: none;
}

/* links and info */
#links-and-info {
	font-size: 6vw;
	width: 100%;
	height: var(--page-navigation-height);
	background-color: #111111;
	display: table;
	transition: transform 0.3s ease-out;
}
/* link navigation */
#link-navigation {
	font-size: 0.8em;
	width: 100%;
	height: var(--pages-height);
	min-height: var(--pages-height);
	margin-top: calc(var(--pages-height) * -1);
	background-color: transparent;
	position: relative;
	z-index: -1;
}
#link-navigation ul {
	width: calc(100% - 2em);
	height: auto;
	background-color: #111111;
	border-radius: 0.5em;
	position: absolute;
	right: 1em;
	bottom: 1em;
	transform: translateX(calc(100% + 2em));
}
#link-navigation a {
	font-family: 'Caveat', cursive;
	font-weight: 600;
	letter-spacing: 2px;
	color: #ffffff;
	display: block;
	padding: 1em 1.5em;
	border: 0 solid transparent;
	border-width: 0 0.4em;
	border-radius: 0.2em;
	margin: 0.4em;
}
#link-navigation a .icon {
	margin-right: 0.5em;
}
#link-navigation a[href='#homepage']:hover,
#link-navigation a[href='#homepage'].active {
	border-color: #2e8b57;
	background-color: #2e8b574d;
}
#link-navigation a[href='#aboutme']:hover,
#link-navigation a[href='#aboutme'].active {
	border-color: #cd853f;
	background-color: #cd853f4d;
}
#link-navigation a[href='#projects']:hover,
#link-navigation a[href='#projects'].active {
	border-color: #da70d6;
	background-color: #da70d64d;
}
#link-navigation.active {
	animation-name: fade-in;
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
#link-navigation.active ul {
	animation-name: slide-in;
	animation-duration: 0.3s;
	animation-delay: 0.2s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

/* page navigation */

#page-navigation {
	font-size: 0.8em;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#page-navigation > * {
	color: #ffffff;
	padding: 0.8em 1.3em;
}
#page-navigation button {
	font-size: inherit;
	background: none;
	margin: 1em;
	border: none;
	flex-grow: 0;
}
#page-navigation a {
	font-size: inherit;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
#page-navigation .menu-toggler .icon:last-child {
	display: none;
}
#page-navigation .menu-toggler.open .icon:first-child {
	display: none;
}
#page-navigation .menu-toggler.open .icon:last-child {
	display: initial;
}

/* page logo */
#page-logo {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	place-items: center;
}
#page-logo .logo-image {
	width: 7em;
	height: auto;
	margin-top: 2em;
}
#page-logo .logo-name {
	font-family: 'Arizonia', cursive;
	font-size: 1.5em;
	font-weight: bold;
}
/* info */
#info {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
}
#info #tech-stack {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 2em;
}
#info #tech-stack .icon {
	--icon-size: 1em;
	width: var(--icon-size);
	height: var(--icon-size);
	margin: 0.5em;
}
#info #tech-stack .icon[alt='Github icon'],
#info #tech-stack .icon[alt='Bash icon'] {
	filter: brightness(10);
}
#info #social-links {
	font-size: 1.7em;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#info #social-links a {
	color: #ffffff;
	margin: 0.5em 0;
}

/* pages */
#pages {
	font-size: 6vw;
	width: var(--pages-width);
	height: var(--pages-height);
	min-height: var(--pages-height);
	overflow: hidden;
	position: relative;
}
#pages .notifier {
	font-family: 'Economica', sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	padding: 0.3em;
	color: #555555;
	background-color: #ffffffdd;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	transform: translateY(-100%);
}
#pages .notifier.show {
	transition: transform 0.3s ease-out;
	transform: translateY(0);
}
#pages-wrapper {
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}
#pages-wrapper.horizontal {
	width: 200%;
	max-width: 200%;
	height: 100%;
	min-height: 100%;
	flex-direction: row;
}
#pages-wrapper.vertical {
	width: 100%;
	max-width: 100%;
	height: 200%;
	min-height: 200%;
	flex-direction: column;
}
#pages-wrapper.push-left {
	animation-name: push-left;
}
#pages-wrapper.push-right {
	animation-name: push-right;
}
#pages-wrapper.push-up {
	animation-name: push-up;
}
#pages-wrapper.push-down {
	animation-name: push-down;
}
#pages-wrapper > section {
	overflow: hidden scroll;
}
#pages-wrapper > section:not(.active) {
	display: none;
}
#pages-wrapper.horizontal > section {
	width: 50%;
	height: 100%;
}
#pages-wrapper.vertical > section {
	width: 100%;
	height: 50%;
}
#pages .text-animate {
	font-size: 1em;
}
#pages #featured-section {
	width: 100%;
	height: auto;
	overflow-x: hidden;
}
#pages .projects-wrapper {
	width: 300%;
	height: max-content;
	min-height: max-content;
	display: flex;
	place-content: flex-start;
}
#pages .projects-wrapper.slide-left {
	animation-name: slide-left;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}
#pages .project-banner {
	width: calc(var(--pages-width) - 1.4em);
	height: auto;
	margin: 1em 0.7em;
	background-color: #00000066;
	background: linear-gradient(to bottom, transparent, #00000066);
	border-radius: 0.5em;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
}
#pages li.project-banner {
	width: calc(100% - 1.4em);
}
#pages .project-banner .image-header {
	width: 100%;
	height: auto;
	margin-bottom: -2em;
	display: flex;
	justify-content: center;
	align-items: center;
}
#pages .image-header .mobile {
	width: calc(25% - 0.7em);
}
#pages .image-header .desktop {
	width: calc(75% - 0.7em);
}
#pages .project-title {
	text-align: left;
	width: calc(100% - 2em);
	margin: 1em;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
#pages .project-title h3 {
	text-shadow: none;
	padding: 0;
}
#pages .project-title .project-icon {
	width: 2em;
	margin-right: 1em;
}
#pages .project-description {
	font-size: 0.8em;
	font-style: oblique;
	text-align: center;
	color: #eeeeee;
	flex-grow: 1;
}
#pages summary {
	font-family: Josefin Sans, 'sans-serif';
	font-size: 0.7em;
	font-weight: bold;
	text-align: center;
	padding: 1em;
	width: max-content;
	cursor: pointer;
	margin: 0 auto;
}
#pages details p,
#pages details ul {
	font-size: 0.9em;
}
#pages details h3 {
	padding-bottom: 0;
}
#pages details ul {
	font-family: 'Josefin Sans', sans-serif;
	list-style-type: circle;
	list-style-position: inside;
	line-height: 1.5em;
	margin: 1.5em var(--text-padding);
}
#pages .skill-showcase {
	margin: 1em clamp(1em, 10%, 3em);
	display: flex;
	place-content: center;
	flex-wrap: wrap;
}
#pages .skill-showcase .icon {
	width: calc(2vh + 3vw);
	height: auto;
	margin: 0.7em 0 0 0.7em;
}
#pages .skill-showcase .icon.brighten {
	filter: brightness(1.5);
}
#pages .project-link {
	font-family: 'Encode Sans Expanded', sans-serif;
	font-size: 0.6em;
	font-weight: bold;
	color: #111111;
	text-align: center;
	padding: 1em;
	border-radius: 0.3em;
}
#pages .website-link {
	margin: 1em 1em 0;
	background-color: #ffffff;
}
#pages .github-link {
	margin: 1em;
	background-color: #ccda71;
}
#pages .view-project {
	width: 100%;
	color: #ffffff;
	background-color: #ff6347;
	border: none;
	border-radius: 0;
	justify-self: flex-end;
}
.page .page-image {
	width: calc(100% - 2em);
	height: auto;
	margin: 1em 1em 0;
}
.page h1:first-of-type {
	font-size: 3em;
	text-shadow: 10px 10px 5px rgb(0, 0, 0, 0.5);
	color: #ffffffde;
	position: sticky;
	bottom: 0;
}
#homepage {
	background-color: #2e8b57;
}
#homepage .page-title {
	text-align: center;
	position: sticky;
	bottom: 0;
	padding: 2rem;
}
#homepage .tag-line {
	font-size: 1em;
	font-family: 'Economica', sans-serif;
	width: stretch;
	width: -webkit-fill-available;
	width: calc(100% - 2em);
	margin-inline: auto;
	text-align: center;
	color: #ffffffde;
}
#homepage .tag-line > span {
	font-weight: bold;
	display: inline-block;
}
#homepage .tag-line > span span {
	display: inline-block;
}
#homepage .tag-line .accessible {
	margin-bottom: -0.35em;
	overflow-y: hidden;
}
#aboutme {
	background-color: #cd853f;
}
#aboutme p {
	transform: none;
}
#aboutme ol {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-style: oblique;
	list-style-type: none;
	list-style-position: inside;
	line-height: 1.5em;
	padding: var(--text-padding);
}
#aboutme ol li::before {
	--size: 1.5em;
	content: counter(list-item);
	font-size: 0.7em;
	font-style: normal;
	text-align: center;
	vertical-align: text-bottom;
	display: inline-block;
	width: var(--size);
	height: var(--size);
	padding-bottom: 0.3em;
	margin-right: 0.5em;
	color: #ffffff;
	background-color: #111111;
	border-radius: 1em;
}
#projects {
	background-color: #da70d6;
}

/* animations */

@keyframes fade-in {
	to {
		background-color: #e6e6e6b3;
		z-index: initial;
	}
}
@keyframes slide-in {
	to {
		transform: translateX(0);
	}
}
@keyframes push-left {
	to {
		transform: translateX(-50%);
	}
}
@keyframes push-right {
	from {
		transform: translateX(-50%);
	}
}
@keyframes push-up {
	to {
		transform: translateY(-50%);
	}
}
@keyframes push-down {
	from {
		transform: translateY(-50%);
	}
}
@keyframes slide-left {
	to {
		transform: translateX(-33.33%);
	}
}

/* breakpoints */

@media only screen and (orientation: landscape) {
	body {
		width: 100vw;
		height: 100vh;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	body.showFooter #links-and-info {
		transform: translateY(calc(var(--footer-height) * -1));
	}
	body.showFooter #links-and-info #link-navigation {
		background-color: initial;
	}
	.background {
		display: block;
	}
	#wrapper {
		aspect-ratio: 5/3;
		--shadow-base: calc(1vh + 3vw);
		--shadow-spread: calc(var(--shadow-base) / 5);
		--shadow-blur: calc(var(--shadow-base) / 20);
		display: flex;
		flex-direction: row-reverse;
		height: 80%;
		min-height: 80%;
		border-radius: 7vh 3vh 3vh 0;
		overflow: hidden;
		box-shadow: 0 0 var(--shadow-spread) var(--shadow-blur) rgb(0 0 0 / 50%);
	}
	#pages {
		--pages-width: 65%;
		font-size: 4.5vh;
		height: 100%;
		min-height: 100%;
	}
	#pages-wrapper {
		height: inherit;
		min-height: inherit;
	}
	#links-and-info {
		font-size: 3.5vh;
		width: 35%;
		height: 100%;
		max-height: max-content;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	#link-navigation {
		--max-height: calc((100vh - 25%) - (var(--page-logo-height) + var(--page-navigation-height)));
		height: var(--max-height);
		min-height: var(--max-height);
		margin-top: 0;
		z-index: 0;
		order: 1;
	}
	#link-navigation.active {
		animation-fill-mode: none;
	}
	#link-navigation ul {
		display: contents;
	}
	#page-navigation {
		order: 2;
		align-items: flex-start;
	}
	#page-navigation .footer-toggler {
		margin: 0.45em 2.3em 1.8em 0;
		padding: 0;
		order: 1;
	}
	#page-navigation .menu-toggler {
		display: none;
	}
	#page-navigation a {
		margin: 0.25em 0 2em 2.3em;
		padding: 0;
		order: 0;
	}
	#page-logo {
		order: 0;
	}
	#page-logo .logo-image {
		width: 5em;
	}
	#page-logo .logo-name {
		padding-bottom: 0.25em;
	}
	#info {
		order: 3;
		background-color: inherit;
	}
	.menu,
	.menu.active {
		margin: 0;
		max-width: inherit;
		border-radius: 0;
		transform: none;
		transition: none;
	}
}
